<form action="/figures/<%= @figure.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <label for="figure_name">Name</label>
    <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>"><br>

    <label><h4>Titles</h4></label>

    <% Title.all.each do |title| %>
          <label><%= title.name %></label>
          <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%= title.id %>"><br>
    <% end %>

    <h4>Add New Title:</h4>
    <input type="text" id="new_title" name="title[name]"><br>

    <h4>Landmarks</h4>
    <% Landmark.all.each do |landmark| %>
          <label><%= landmark.name %></label>
          <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%= landmark.id %>"><br>
    <% end %>

    <h4>Add New Landmark:</h4>
    <label for="new_landmark">Name:</label>
    <input type="text" name="landmark[name]" id="new_landmark">
    <label>Year Completed:</label>
    <input type="text" name="landmark[year_completed]"> 

    <input type="submit" value="Edit Figure">
</form>